*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  color: whitesmoke;
}

body{
  margin: 0;
  background-color: rgb(4, 4, 78);
}

.container{
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: 200px 1fr 200px 50px;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.cell_Container{
  grid-area: 2/ 1 / 3 / 2 ;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

.cell {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
  border-right: none;
}

.cell.x::before,
.cell.x::after,
.cell_Container.x .cell:not(.x):not(.circle):hover::before,
.cell_Container.x .cell:not(.x):not(.circle):hover::after{
	content: '';
	width: 15px;
	height: 115px;
	background-color: whitesmoke;
	position: absolute;
}

.cell.x::before,
.cell_Container.x .cell:not(.x):not(.circle):hover::before{
	transform: rotate(45deg);
}

.cell.x::after, 
.cell_Container.x .cell:not(.x):not(.circle):hover::after{
	transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.cell_Container.circle .cell:not(.x):not(.circle):hover::before,
.cell_Container.circle .cell:not(.x):not(.circle):hover::after{
	content: '';
	width: 105px;
	height: 105px;
	background-color: whitesmoke;
	position: absolute;
	border-radius: 50%;
}

.cell.circle::before,
.cell_Container.circle .cell:not(.x):not(.circle):hover::before{
	width: 100px;
	height: 90px;
	background-color: whitesmoke;
}

.cell.circle::after,
.cell_Container.circle .cell:not(.x):not(.circle):hover::after{
	width: calc(100px * .7);
	height: calc(90px * .7);
	background-color: black;
}

.cell.x,
.cell.circle{
	cursor: not-allowed;
}

.winning_Message{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-align: center;
}

.winning_Message.show{
  display: flex;
}
.winning_Message button{
  font-size: 3rem;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.winning_Message button:hover{
  background-color: black;
  color: whitesmoke;
}
