* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container{
  height: 100dvh;
  width: 100dvw;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 200px 1fr 200px 50px;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.cell_Container{
  border: 1px solid blue;
  grid-area: 2/ 1 / 3 / 2 ;
  height: 75%;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border: 1px solid black;
}